<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guitar store </title>

<link rel="stylesheet" href="style.css">
</head>

<body>
   <header>
    <h1>guitar store </h1>



   </header>


    <main>    
    <section id="cards">  

  <% guitars.forEach((guitars )=> { %>
   <div class = "cards">

    <img src="<%= guitars.imagem %>" alt="">

     <h2> <%= guitars.id %></h2>

     <p>madeiras <%= guitars.madeiras %></p>

     <p> captadores <%= guitars.captadores %></p>
   </div>
  <% }) %>

  </section >



   <section id="cadastro"> 
    <h2>cadastro new guitar </h2>
     
    <form action="/add" method="POST">

      <label for="id">modelo</label>
      <input type="text" id="guitarra" guitarra="guitarra">


      <label for="madeiras">madeiras</label>
      <input type="text" id="madeiras" madeiras="madeiras">

      <label for="captadores">captadores</label>
      <input type="text" id="captadores" captadores="captadores">

    <label for="imagem">link da imagem</label>
    <input type="text" id="imagem"  nome="imagem">

     <button>nova guitarra </button>
    </form>

   </section>

    

   

  



 <main>




</body>

</html>  